<body>
  <div class="container">
    <header>
      <h1>Tasks ({{incompleteCount}}) &#x2604;</h1>

      <!-- Login -->
      {{> loginButtons}}

      <!-- Filters -->
      <div>
        {{#if isLoggedIn}}
        <div>
          <label class="hide-others">
            <input type="checkbox" />
            Hide Tasks of others
          </label>
        </div>
        {{/if}}

        <div>
          <label class="hide-completed">
            <input type="checkbox" />
            Hide Completed Tasks
          </label>
        </div>

        <!-- Create task -->
        {{#if currentUser}}
        <form class="new-task">
          <input type="text" name="text" placeholder="Type to add a new task" />
        </form>
        {{/if}}
      </div>
    </header>

    <ul>
      {{#each tasks}} {{> task}} {{/each}}
    </ul>
  </div>
</body>
