<template name="task">
  <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
    <span class="task-item">
      <!-- Toggle checked-->
      <input type="checkbox" checked="{{checked}}" class="toggle-checked" {{disableByPrivacy}} />

      <!-- Infos-->
      <span class="text"><strong>{{username}}</strong></span>
      <span class="text">{{text}}</span>

      <!-- Delete Task-->
      {{#if isOwner}}
      <button class="delete">&times;</button>
      {{/if}}

      <!-- Toggle private -->
      {{#if isOwner}}
      <button class="toggle-private">
        {{#if private}} Private {{else}} Public {{/if}}
      </button>
      {{/if}}
    </span>
  </li>
</template>
